.tela2__questions {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela2 ion-icon {
    font-size: 28px;
}

.tela2__question {
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
}

.tela2__question--yellow, .tela2__question--yellow--turned {
    width: 299px;
    height: 131px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
}

.tela2__question--yellow--turned {
    height: 100%;
}

.tela2__question--yellow p, .tela2__question--yellow--turned p {
    margin: 18px;
    font-size: 18px;
    margin-bottom: 25px;
}

.tela2__question--yellow .tela2__turnArrow {
    position: absolute;
    width: 18px;
    bottom: 7px;
    right: 8px;
}

.tela2__buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6px;
}

.tela2__buttons button {
    width: 86px;
    height: 38px;
    border-radius: 5px;
    font-size: 12px;
    color: #FFFFFF;
    border: none;
}

.tela2__buttons .red {
    background: #FF3030;
}

.tela2__buttons .orange {
    background: #FF922E;
}

.tela2__buttons .green {
    background: #2FBE34;
}

.tela2__question .red, [name="close-circle-sharp"] {
    text-decoration: line-through;
    color: #FF3030;
}

.tela2__question .orange, [name="help-circle"] {
    text-decoration: line-through;
    color: #FF922E;
}

.tela2__question .green, [name="checkmark-circle"] {
    text-decoration: line-through;
    color: #2FBE34;
}