@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FB6B6B;
}

.tela1 {
    min-width: 375px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #FB6B6B;
    border: 1px solid #DBDBDB;
}

.tela1__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tela1__logo-nome {
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Righteous', cursive;
}

.tela1__logo img {
    width: 136px;
    height: 161px;
    margin-bottom: 13px;
}

.tela1__startButton {
    width: 246px;
    height: 54px;
    background-color: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #D70900;
}

.tela1__button {
    display: flex;
    flex-direction: column;
}

@media (min-width: 426px) {
    .tela1 {
        width: 100%;
    }
}