.tela2__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-bottom: 10px;
}

.tela2__header img {
    width: 52px;
    height: 60px;
    margin-right: 25px;
}

.tela2__header h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #fff;
    font-size: 36px;
    font-weight: 400;
}

@media (min-width: 580px) {
    .tela2__header h1 {
        font-size: 64px;
    }

    .tela2__header img {
        width: 86.96px;
        height: 100px;
        margin-right: 50px;
    }
}