@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    --mono: "MONO"0;
    --casl: "CASL"1;
    --slnt: "slnt"0;
    --CRSV: "CRSV"0.5;
    font-variation-settings: var(--mono), var(--casl), 700, var(--slnt), var(--CRSV);
}

.tela2 {
    background-color: #FB6B6B;
    margin: 0 auto;
    width: 203px;
    font-family: 'Recursive';
    position: relative;
}